In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
test_file='CSV\data_test.csv'
train_file='CSV\data_train.csv'
y_test_path='CSV\sample_submissions.csv'
df_test=pd.read_csv(test_file)
df_train=pd.read_csv(train_file)
y_test=pd.read_csv(y_test_path)

In [6]:
X_test=df_test

In [7]:
y_test=y_test['Yield']

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 870 entries, 0 to 869
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               870 non-null    int64
 1   Experiment       870 non-null    object
 2   Variety          870 non-null    object
 3   Planting date    870 non-null    object
 4   Location         870 non-null    int64
 5   Latitude         870 non-null    float64
 6   Longitude        870 non-null    float64
 7   Temperature      870 non-null    float64
 8   Precipitation    870 non-null    float64
 9   Solar Radiation  870 non-null    int64
 10  Soil class       870 non-null    int64
 11  CEC              870 non-null    float64
 12  Organic matter   870 non-null    float64
 13  pH               870 non-null    float64
 14  Clay             870 non-null    float64
 15  Silt             870 non-null    float64
 16  Sand             870 non-null    float64
 17  PI               870 non-null    object
dtypes: float64(10), int64(4), object(4)
memory usage: 122.5+ KB

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81166 entries, 0 to 81165
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               81166 non-null  int64
 1   Experiment       81166 non-null  object
 2   Variety          81166 non-null  object
 3   Planting date    81166 non-null  object
 4   Location         81166 non-null  int64
 5   Latitude         81166 non-null  float64
 6   Longitude        81166 non-null  float64
 7   Temperature      81166 non-null  float64
 8   Precipitation    81166 non-null  float64
 9   Solar Radiation  81166 non-null  int64
 10  Soil class       81166 non-null  int64
 11  CEC              81166 non-null  float64
 12  Organic matter   81166 non-null  float64
 13  pH               81166 non-null  float64
 14  Clay             81166 non-null  float64
 15  Silt             81166 non-null  float64
 16  Sand             81166 non-null  float64
 17  PI               81166 non-null  object
 18  Yield            81166 non-null  float64
dtypes: float64(11), int64(4), object(4)
memory usage: 11.8+ MB

In [12]:
df_train.isna().sum()

ID                 0
Experiment         0
Variety            0
Planting date      0
Location           0
Latitude           0
Longitude          0
Temperature        0
Precipitation      0
Solar Radiation    0
Soil class         0
CEC                0
Organic matter     0
pH                 0
Clay               0
Silt               0
Sand               0
PI                 0
Yield              0
dtype: int64

In [13]:
# df_train.describe()

In [14]:
df_train.head(3)

,ID,Experiment,Variety,Planting date,Location,Latitude,Longitude,Temperature,Precipitation,Solar Radiation,Soil class,CEC,Organic matter,pH,Clay,Silt,Sand,PI,Yield
0,1,09SUBWYG201,V000047,5/20/2009,2291,42.019111,-93.525735,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15,55.62
1,2,09SUBWYG202,V000047,5/20/2009,2291,42.019111,-93.525735,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15,53.72
2,3,09SUBWYG203,V000047,5/20/2009,2291,42.019111,-93.525735,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15,49.09

In [15]:
df_train.apply(lambda x : len(x.unique()))
#show the different value of each column

ID                 81166
Experiment          4197
Variety              174
Planting date        244
Location             205
Latitude             587
Longitude            582
Temperature          574
Precipitation        553
Solar Radiation      587
Soil class            23
CEC                  244
Organic matter       244
pH                   244
Clay                 243
Silt                 244
Sand                 244
PI                    11
Yield               6189
dtype: int64

In [16]:
X_train=df_train.iloc[:,7:18]
y_train=df_train['Yield']# Create our Target

In [17]:
X_test=df_test.iloc[:,7:18]

In [18]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81166 entries, 0 to 81165
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temperature      81166 non-null  float64
 1   Precipitation    81166 non-null  float64
 2   Solar Radiation  81166 non-null  int64
 3   Soil class       81166 non-null  int64
 4   CEC              81166 non-null  float64
 5   Organic matter   81166 non-null  float64
 6   pH               81166 non-null  float64
 7   Clay             81166 non-null  float64
 8   Silt             81166 non-null  float64
 9   Sand             81166 non-null  float64
 10  PI               81166 non-null  object
dtypes: float64(8), int64(2), object(1)
memory usage: 6.8+ MB

In [19]:
X_train['PI'].unique()

array(['15', '14', '13', '.', '10', '16', '9', '12', '11', '17', '18'],
      dtype=object)

In [20]:
(X_train['PI'].apply(lambda x:x=='.').sum()/len(X_train))*100

9.452233693911245

In [21]:
Repl_PI=X_train['PI'].mode()
Repl_PI[0]

'14'

In [22]:
Repl_PI_test=X_test['PI'].mode()
Repl_PI_test[0]

'15'

In [23]:
for i in range(len(X_train)):
    if(X_train.iloc[i]['PI']=='.'):
        X_train.loc[i:i,'PI']=Repl_PI[0]

In [24]:
for i in range(len(X_test)):
    if(X_test.iloc[i]['PI']=='.'):
        X_test.loc[i:i,'PI']=Repl_PI_test[0]

In [25]:
X_train['PI'].unique()

array(['15', '14', '13', '10', '16', '9', '12', '11', '17', '18'],
      dtype=object)

In [26]:
X_train['PI']=X_train['PI'].astype(float)

In [27]:
X_test['PI']=X_test['PI'].astype(float)

In [28]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81166 entries, 0 to 81165
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temperature      81166 non-null  float64
 1   Precipitation    81166 non-null  float64
 2   Solar Radiation  81166 non-null  int64
 3   Soil class       81166 non-null  int64
 4   CEC              81166 non-null  float64
 5   Organic matter   81166 non-null  float64
 6   pH               81166 non-null  float64
 7   Clay             81166 non-null  float64
 8   Silt             81166 non-null  float64
 9   Sand             81166 non-null  float64
 10  PI               81166 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 6.8 MB

In [29]:
X_train.head(3)

,Temperature,Precipitation,Solar Radiation,Soil class,CEC,Organic matter,pH,Clay,Silt,Sand,PI
0,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15.0
1,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15.0
2,3319.8,762.3,1078880,122,29.248626,4.468491,6.28384,25.90531,42.428096,31.686198,15.0

In [30]:
# print(set(y_train))# it shows that we could not use this data for classfication

In [49]:
from sklearn.ensemble import ExtraTreesRegressor

In [50]:
EXT_RG = ExtraTreesRegressor(n_estimators=100, random_state=123)
EXT_RG.fit(X_train, y_train)

ExtraTreesRegressor(random_state=123)

In [51]:
X_train.shape

(81166, 11)

In [52]:
X_test.shape

(870, 11)

In [53]:
X_train.columns

Index(['Temperature', 'Precipitation', 'Solar Radiation', 'Soil class', 'CEC',
       'Organic matter', 'pH', 'Clay', 'Silt', 'Sand', 'PI'],
      dtype='object')

In [54]:
X_test.columns

Index(['Temperature', 'Precipitation', 'Solar Radiation', 'Soil class', 'CEC',
       'Organic matter', 'pH', 'Clay', 'Silt', 'Sand', 'PI'],
      dtype='object')

In [55]:
y_pred = EXT_RG.predict(X_test)

In [56]:
from sklearn import metrics

In [57]:
metrics.mean_absolute_error(y_test, y_pred)

11.911525657060617